<!DOCTYPE html>
<html>
<head>
  <title>AjaxTwitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="head-nav">
  <h1 class="head-h1">Ajax Twitter</h1>

  <% if current_user %>
  <form action="/session" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

    <input type="submit" class="logout" value="Logout">
  </form>
  <% end %>

  <ul class="head-ul">
    <li class="head-li"><%= link_to "Feed", feed_url %></li>
    <li class="head-li"><%= link_to "User Search", search_users_url %></li>
  </ul>

</nav>

<div class="user-div">
  <% if current_user %>
    <h1 class="user-h1"><%= current_user.username %></h1>
  <% else %>
    <h1 class="user-h1">Welcome</h1>
  <% end %>
</div>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
